/* _content/BlazorArticle.Components/ArticleLayoutDefault.razor.rz.scp.css */

/*set .body as container for all layout content (footer is always on the screen bottom)*/
.body[b-a0anonsckr] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/*TOP NAV BAR*/

.m-navbar-container[b-a0anonsckr] {
    position: sticky;
    width: 100%;
    top: 0px;
    display: flex;
    align-items: center;
    background-color: #57236b;
    height: 50px; /* This is fixed bacuse the container of TOC is set to fixed position for mobile mode for that to be edgy with header!! */
    z-index: 9999;
}

/*article navigation button */
.m-toc-toggler[b-a0anonsckr] {
    color: white;
    display: none;
    cursor: pointer;
    /**/
    /* padding: 50px;*/
    font-size: 24px;
    border: 1px solid yellow;
}

/*WARNING: this must be max-width that same as in @media for sidebar*/
@media (max-width:780px) {

    .m-toc-toggler[b-a0anonsckr] {
        align-self: stretch;
        display: flex;
        align-items: center;
        color: #fff;
        padding: 0px 20px;
        background-color: #424a53;
        border: 1px solid rgb(238 238 238 / 0.20);
    }

    .m-toc-toggler.active[b-a0anonsckr] {
        color: #1861ac;
        padding: 0px 20px;
        background-color: #f7f7f7;
        border: 1px solid rgb(238 238 238 / 0.20);
    }
}




/*nav.m-navbar {*/
    /*position: relative;*/
    /*width: 100%;
    max-width: 1920px;*/
    /* max-width:1280px; */
    /*margin: auto;*/
    /* height:50px; */
    /*display: flex;
    align-items: center;
    justify-content: space-around;*/
    /* border:1px solid red;  */
/*}

.navbar-shadow {*/
    /* width: calc(100vh - 100px);  */
    /*border-radius: 2px;
    box-shadow: 0px 1px 10px #999;
}

nav.m-navbar .m-logo {*/
    /* border:1px solid red; */
    /*font-size: 1.2rem;
}

nav.m-navbar .m-logo a {
    color: rgb(250, 250, 250);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

nav.m-navbar .m-logo .m-logo-screen {
    display: block;
}

nav.m-navbar .m-logo .m-logo-mobile {
    display: none;
}

.m-toc-toggler {
    color: white;
    display: none;
    cursor: pointer;*/
    /**/
    /* padding: 50px;*/
    /*font-size: 24px;
    border: 1px solid yellow;
}*/


/*WARNING:max-width must be that same as 'm-toc-container' class in article.razor style*/
/*@media (max-width:1100px) {

    nav.m-navbar .m-logo .m-logo-screen {
        display: none;
    }

    nav.m-navbar .m-logo .m-logo-mobile {
        display: block;
    }

    .m-toc-toggler {
        align-self: stretch;
        display: flex;
        align-items: center;
        color: #fff;
        padding: 0px 20px;
        background-color: #424a53;
        border: 1px solid rgb(238 238 238 / 0.20);
    }

    .m-toc-toggler.active {
        color: #1861ac;
        padding: 0px 20px;
        background-color: #f7f7f7;
        border: 1px solid rgb(238 238 238 / 0.20);
    }
}*/

/* MAIN CONTENT*/

main.m-main[b-a0anonsckr] {
    flex: 1;
    display: flex;
}

/* sidebar */
.m-sidebar[b-a0anonsckr] {
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    border-right: 1px solid rgb(225, 225, 225);
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.m-sidebar-content-sticky[b-a0anonsckr] {
    position: sticky;
    top: 0; /* lub np. top: 20px; */
    background: white; /* dla lepszej widoczności */
    z-index: 10;
}

.m-sidebar:empty[b-a0anonsckr]{
    display:none;
}

/* page */
.m-page[b-a0anonsckr]{
    flex:1;
}

/*WARNING:max-width must be that same as 'm-toc-toggler' class in layout style*/
@media (max-width:780px) {

    .m-sidebar[b-a0anonsckr] {
        /*position:absolute;*/
        position: fixed; /*Sticky doesn't work (why?) and absolute position is relative to the container (work for navbar edge but not slide (not sticky)) -> so fixed setup for now */
        top: 50px; /* WARNING:Must be that same as fixed height of navbar container */
        right: -100%;
        /* right:0px; */
        /* width: 400px;
        max-width:400px;
        max-width: 400px;
        min-width: 300px; */
        width: 100%;
        z-index: 999999;
        padding: 0px;
        /* border:1px solid yellow; */
        border-left: 1px solid rgb(225, 225, 225);
        border-right: none;
        background-color: #76b7ff;
        background-color: rgb(251, 251, 251);
        height: 100vh;
        opacity: 0.9;
    }

    .m-sidebar.hidden[b-a0anonsckr] {
        right: -100%;
        transition: 0.3s;
    }

    .m-sidebar.active[b-a0anonsckr] {
        right: 0px;
        transition: 0.3s;
    }
}


    /* FOOTER*/

    footer.m-footer[b-a0anonsckr] {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* height:300px; */
        padding: 10px;
        background-color: #ebebeb;
        background-color: #f7f7f7;
        /* align-self: flex-end; */
        bottom: 0px;
    }

        footer.m-footer .content[b-a0anonsckr] {
            min-height: 100px;
            width: 100%;
            max-width: 1280px;
            margin: auto;
            border-left: 1px solid rgb(225, 225, 225);
            border-right: 1px solid rgb(225, 225, 225);
            padding: 0px 10px;
        }

    footer.m-footer-bottom[b-a0anonsckr] {
        width: 100%;
        background-color: #4e4e4e;
        background-color: #fcfcfc;
        padding: 0.6em 0 0.6em 0;
        text-align: center;
        font-size: 0.8rem;
        color: #969696;
        border-top: 1px solid rgb(225, 225, 225);
    }
    /*
.m-footer-bottom .m-screen {
}

.m-footer-bottom .m-mobile {
    display: none;
}

.m-footer-bottom a {
   color: rgb(126, 176, 255);
   text-transform: uppercase;
   margin: 0px 15px;
}

.m-footer-bottom a.active {
   border-bottom: 1px solid rgb(78, 144, 179);
   color: rgb(70, 141, 255);
}


@media(max-width:800px) {
    .m-footer-bottom .m-screen {
        display: none;
    }

    .m-footer-bottom .m-mobile {
        display: block;
    }
}
*/
/* _content/BlazorArticle.Components/ArticlesCard/CardArticle.razor.rz.scp.css */



/*this is use in script for bordering the item when the box is expanded */

/******************************************************************
                       
******************************************************************/
.container-items-sample[b-91lrsp4bic] {
    
}
    /* 
 * Select all .red children of .home, including the first one,
 * and give them a border.
 */
    .container-items-sample[b-91lrsp4bic] >  .container-items-sample-header {
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }

        /* 
 * Select all but the first .red child of .home,
 * and remove the border from the previous rule.
 */
        .container-items-sample[b-91lrsp4bic] >  .container-items-sample-header ~ .container-items-sample-header {
            border-top: none;
        }

[b-91lrsp4bic] .container-items-sample-header {
    background-color: rgba(0, 0, 0, 0.025);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0.8em;
    border-radius: 0px;
}


/******************************************/
/* MODYFICATORS */
/******************************************/

/*toggle-border - this is assigned to the blank element of subset item which is before the next main item - to assign top border to that element (main item) */
.column-left-modificator[b-91lrsp4bic]  .toggle-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.column-right-modificator[b-91lrsp4bic]  .toggle-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}


.column-right-modificator[b-91lrsp4bic]  .item .left-side-box .item-order {
    /* border-left: none !important;   */
    width: 46px !important;
    margin-left: -1px !important;
    /* position:absolute; */
    /* left:0px; */
    /* right:0px; */
    /* background-color:green !important; */
}



/*WARNING:max-width has to match to bootstrap column breakpoint (bootstrap brakepoints have affection from min-width, forexample: if column breakpoints are set for 576px for two columns 6 size "col-6" then here max-width has to be set for 575px to make column wrappings with proper styles ) 
    -This just have to match set in CardArticle.razor for columns size "sm, lg, etc"
*/

@media (max-width:992px) {

    .column-right-modificator[b-91lrsp4bic]  .item .left-side-box .item-order { 
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        width: 45px !important;
        margin-left: 0px !important;
    }

    .column-left-modificator[b-91lrsp4bic]  .toggle-border-column-separator {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        /* opacity:1; */
    }


}
/* _content/BlazorArticle.Components/ArticlesCard/_ArticleItem.razor.rz.scp.css */

 .box-item[b-41ybo97isi] {
    /* display:flex; */
    /* border-bottom:1px solid rgba(0, 0, 0, 0.445); */
    /* border-left:1px solid rgba(0, 0, 0, 0.445); */
    /* border-right:1px solid rgba(0, 0, 0, 0.445); */
}

/* SHARED */

[b-41ybo97isi] .left-side-box {
    /* background-color:rgb(235, 235, 235); that same as header */
    display: flex;
}

    [b-41ybo97isi] .left-side-box .item-blank {
        width: 45px;
        min-height: 40px;
        height: 100%;
        background-color: transparent;
        /* border-top:1px solid rgba(0, 0, 0, 0.445); */
        border-right: 1px solid rgba(0, 0, 0, 0.5);
        border-top: none;
        background-color: rgba(100, 150, 100, 0.0);
    }

        [b-41ybo97isi] .left-side-box .item-blank:last-of-type {
            /* border-top:1px solid rgba(0, 0, 0, 0.445); */
            border-right: 1px solid rgba(0, 0, 0, 0.5);
        }


    [b-41ybo97isi] .left-side-box .item-order {
        /* padding:0.5em 1em; */
        width: 45px;
        min-height: 40px;
        height: 100%;
        /* padding:0.5em 0px; */
        font-weight: 600;
        color: rgba(0, 0, 0, 0.753);
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid rgba(0, 0, 0, 0.5); /*there is column modificator*/
        border-right: 1px solid rgba(0, 0, 0, 0.5);
        /* border-top:1px solid rgba(0, 0, 0, 0.445); */
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        background-color: rgba(0, 0, 0, 0.025);
    }

        [b-41ybo97isi] .left-side-box .item-order:last-of-type {
            /* padding:0.5em 1em; */

            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        }

    [b-41ybo97isi] .left-side-box .item-button {
        width: 45px;
        min-height: 40px;
        height: 100%;
        /* padding:0.5em 0px; */
        font-weight: 500;
        color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        border-right: 1px solid rgba(0, 0, 0, 0.5);
        opacity:0.8;
    }

.left-side-box .item-button button[b-41ybo97isi] {
    width: 100%;
    height: 100%;
    border: none;
    /*background-color: inherit;*/
    background-color: rgba(0, 0, 0, 0.0);
}

        .left-side-box .item-button.active[b-41ybo97isi] {
            background-color: white;
        }

     .left-side-box .item-button.active button[b-41ybo97isi] {
         opacity:1;
     }

[b-41ybo97isi] .item-content {
    /* border-top:1px solid rgba(0, 0, 0, 0.445); */
    flex-grow: 1;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

[b-41ybo97isi] .m-admin-item-content{
    display:flex;
    flex-direction:column;
}

[b-41ybo97isi] .item-content:last-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

    [b-41ybo97isi] .item-content a {
        display: flex;
        align-items: center;
        height: 100%;
        padding-left: 0.5em;
        padding-right: 0.5em;
        /* padding:0.5em; */
        color: black;
        /***/
      /*  -webkit-box-shadow: inset -1px 0px 17px -9px rgba(78, 120, 212, 0.4);
        -moz-box-shadow: inset -1px 0px 17px -9px rgba(78, 120, 212, 0.4);
        box-shadow: inset -1px 0px 17px -9px rgba(78, 120, 212, 0.4);*/
    }

        [b-41ybo97isi] .item-content a:hover {
            /*background-color: rgba(0, 0, 0, 0.025);*/
        }


[b-41ybo97isi] .box-item.admin .item-content a {
    pointer-events: all !important;
}

[b-41ybo97isi] .highlighted a{
    font-weight:600;
}




/******************************************/
/* MODYFICATORS */
/******************************************/

.box-item.notActive[b-41ybo97isi] {
}
/*WARNING:remeber this is not for subitems (not deep) */
.box-item .item-content a.notActive[b-41ybo97isi] {
    cursor: pointer;
    pointer-events: none;
    opacity: 0.5;
    box-shadow: none;
}

[b-41ybo97isi] .subitem a.notActive {
    cursor: pointer;
    pointer-events: none;
    opacity: 0.5;
    box-shadow: none;
}
/* _content/BlazorArticle.Components/ArticlesCard/_ArticleSubItem.razor.rz.scp.css */

/* SUB-ITEM */
.subitem-box[b-d4p47dtqiv] {
}

    .subitem-box .subitem[b-d4p47dtqiv] {
    }

    .subitem-box .item-order[b-d4p47dtqiv] {
        /* border-top:1px solid rgba(0, 0, 0, 0.445); */
        border-left: none;
    }

        .subitem-box .item-order:last-of-type[b-d4p47dtqiv] {
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        }



    .subitem-box .item-content[b-d4p47dtqiv] {
    }

        .subitem-box .item-content a[b-d4p47dtqiv] {
            padding-left: 20px;
            font-size: 0.9em;
            
        }

.subitem.notActive[b-d4p47dtqiv] {
}

.subitem.notActive .item-content a[b-d4p47dtqiv] {
        cursor: pointer;
        pointer-events: none;
        opacity: 0.5;
        box-shadow: none;
    }

/*MARKED ARTICLES (SPECIAL)*/

item-content.marked[b-d4p47dtqiv]{


}

.item-content.marked a[b-d4p47dtqiv] {
    font-weight: 600;
}

.item-content.marked a .icon[b-d4p47dtqiv]{
	display:block !important;
    padding-right:1em;
    color:rgba(223, 12, 12, 0.904);
    /* color:rgba(0, 84, 209, 0.904); */
    font-weight:500;
    /* background-color:red; */

}
/* _content/BlazorArticle.Components/Component1.razor.rz.scp.css */
.my-component[b-tuh8ask5f4] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
