@inherits LayoutComponentBase

@using BlazorArticle.Components
@using Microsoft.AspNetCore.Components.Sections


@*ArticleLayoutDefault is not needed to BlazorArticle components to work.*@


<ArticleLayoutDefault>
    <Header>
        <nav class="m-navbar">
            <section class="m-logo">
                <div class="m-logo-screen">
                    <a href="/">
                        <img src="_content/BlazorArticle.Components/img/blazor_logo_yellow.png" />
                        BlazorArticleEditor
                    </a>
                </div>
                <div class="m-logo-mobile">
                    <a href="/">
                        <img src="_content/BlazorArticle.Components/img/blazor_logo_yellow.png" />
                        Edit
                    </a>
                </div>
            </section>
            <section class="m-navigation">
                <a class="me-2" href="/"><i class="fa-solid fa-arrow-left"></i></a> <!-- return to the list of article - not implemented yet -->
                <!-- refresh te content of the article and article css style -->
                <button @onclick="RefreshAll"><i class="fa-solid fa-arrows-rotate"></i></button>
                <!-- go to the top of the site (article) -->
                <button onclick="BlazorArticle_ScrollToTop();"><i class="fa-solid fa-arrows-up-to-line"></i></button>
            </section>
        </nav>
    @*NOTE:Navigation toggler button for now is a part of the article layout component because of internal logic and parsing article as SSR,
     *this may change if interactive server side rendering will improve - see BlazorArticle documentation
    *@
    </Header>
    <Sidebar>
        @*This is rendered from the page component*@
        <SectionOutlet SectionName="sidebar-article" /> 
    </Sidebar>
    <Body>
        <CascadingValue Value="@_data">
            @Body
        </CascadingValue>
    </Body>
    <Footer>
        <section class="m-screen">
            BlazorArticleEditor - @DateTime.Now.Year
        </section>
        <section class="m-mobile">
            BlazorArticleEditor - @DateTime.Now.Year
        </section>
    </Footer>
</ArticleLayoutDefault>




@code {


    public class LayoutData
    {
        public Func<Task> RefreshAllRequested { get; set; }
    }

    LayoutData _data = new LayoutData();


    async Task RefreshAll()
    {
        //AppService.Article.NotifyRefreshAll(this);
        await _data.RefreshAllRequested.Invoke();

    }

}
